name: Video Download with N_m3u8DL-RE

on:
  workflow_dispatch:
    inputs:
      video_url:
        description: '粘贴刚才抓到的 playlist.m3u8 完整链接'
        required: true
      file_name:
        description: '保存的文件名'
        required: true
        default: 'apple_trailer_4k'
      custom_headers:
        description: '可选：如果报错403，请填入关键Header(如 Cookie 或 User-Agent)'
        required: false

jobs:
  download-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install FFmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Download Latest N_m3u8DL-RE
        run: |
          URL=$(curl -s https://api.github.com/repos/nilaoda/N_m3u8DL-RE/releases/latest | grep "browser_download_url.*linux-x64.*gz" | cut -d '"' -f 4)
          wget -O n_m3u8_latest.tar.gz "$URL"
          mkdir temp_bin
          tar -zxvf n_m3u8_latest.tar.gz -C temp_bin
          find temp_bin -type f -name "N_m3u8DL-RE" -exec mv {} ./n_m3u8 \;
          chmod +x ./n_m3u8

      - name: Execute Download
        run: |
          # 如果输入了 headers，则通过 -H 参数传递
          HEADER_ARG=""
          if [ -n "${{ github.event.inputs.custom_headers }}" ]; then
            HEADER_ARG="-H \"${{ github.event.inputs.custom_headers }}\""
          fi
          
          ./n_m3u8 "${{ github.event.inputs.video_url }}" \
            --save-name "${{ github.event.inputs.file_name }}" \
            --auto-select \
            $HEADER_ARG \
            -M format=mp4

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.file_name }}
          path: |
             *.mp4
             *.mkv
          retention-days: 1
